<div>
  <div class="title">
    <h1>Welcome to BacklogTracker</h1>
    <h3>... a tool created to shame you into playing some of your Steam backlog</h3>
  </div>

  <h2>Click below to login through Steam and see your Steam stats</h2>

  <div class="title">
    <br />
    <a href="<%= auth_start_path %>" class="logon-link">Login through Steam!</a>

    <p>
      When you click the link above, you'll be taken to Steam to authenticate.
      Once you login with Steam, you'll come back here and we'll start retrieving your stats.
    </p>
  </div>
</div>
