<% @page_title = "How to find your Steam ID" %>

<p>
    <h1>PROTIP</h1>To find your Steam ID, log into steam from your browser and click on "Community".
    Your Steam ID is in the URL - it will look like either <span class="bold">steamcommunity.com/id/{Steam ID}/home</span> or
    <span class="bold">steamcommunity.com/profiles/{Steam ID}/home</span>.
</p>

<h3>ALTERNATIVE</h3>

<p>
  Just click the "sign in through Steam" button on the home page and log in on Steam's website - you'll be returned
  here with your Steam ID figured out for you.
</p>